@using FoNeke.Common.Extentions
@using FoNeke.Web.Models
@model List<FoNeke.Common.Entities.Attachement>



@{
    var id = ViewData.TemplateInfo.GetFullHtmlFieldId("");
    var name = ViewData.TemplateInfo.GetFullHtmlFieldName("");
    var value = ViewData.TemplateInfo.FormattedModelValue;
}
<link rel="stylesheet" href="~/Content/assets/css/dropzone.css" />
<link rel="stylesheet" href="~/Content/assets/css/ace.min.css" />


<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div>
            <div action="~/Attachement/Upload" class="dropzone" id="dropzone">
                <div class="fallback">
                    <input name="file" type="file" multiple="" />
                </div>
            </div>
        </div><!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->


<div class="hr hr-18 hr-double dotted"></div>

@(Html.Kendo().Grid(Model)
                          .Name("gridAttachement")
                          .Columns(columns =>
                          {
                              columns.Bound(p => p.Name);
                              columns.Bound(p => p.Extention);
                          })
                          .DataSource(dt=>dt.Custom().PageSize(5))
                          .Pageable())



<!-- page specific plugin scripts -->
<script src="~/Content/assets/js/dropzone.min.js"></script>


<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function($) {

        Dropzone.autoDiscover = false;
        try {
            var myDropzone = new Dropzone("#dropzone", {
                paramName: "file", // The name that will be used to transfer the file
                //maxFilesize: 0.5, // MB
                uploadMultiple:true,
                addRemoveLinks: true,
                dictDefaultMessage:
                    '<span class="bigger-150 bolder"><i class="ace-icon fa fa-caret-right red"></i> Drop files</span> to upload \
				<span class="smaller-80 grey">(or click)</span> <br /> \
				<i class="upload-icon ace-icon fa fa-cloud-upload blue fa-3x"></i>',
                dictResponseError: 'Error while uploading file!',

                //change the previewTemplate to use Bootstrap progress bars
                previewTemplate: "<div class=\"dz-preview dz-file-preview\">\n  <div class=\"dz-details\">\n    <div class=\"dz-filename\"><span data-dz-name></span></div>\n    <div class=\"dz-size\" data-dz-size></div>\n    <img data-dz-thumbnail />\n  </div>\n  <div class=\"progress progress-small progress-striped active\"><div class=\"progress-bar progress-bar-success\" data-dz-uploadprogress></div></div>\n  <div class=\"dz-success-mark\"><span></span></div>\n  <div class=\"dz-error-mark\"><span></span></div>\n  <div class=\"dz-error-message\"><span data-dz-errormessage></span></div>\n</div>"
            });
        } catch (e) {
            alert('Dropzone.js does not support older browsers!');
        }

    });
</script>

