<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="ServicePort" value="7415" />
  <add key="WebSocketService" value="SimComunication" />
  <add key="HostServerName" value="localhost" />
  <add key="WebSocketPort" value="7416" />
  <add key="WebSocketUser" value="foneke007" />
  <add key="WebSocketPassword" value="P@ssword07" />
  <add key="ApplicationName" value="FoNeke" />

  <!--<add key="RabbitMqUrl" value="178.170.102.123:15672" />
  <add key="RabbitMqUser" value="fonekeadm" />
  <add key="RabbitMqPassword" value="P@ssword1" />-->

  <add key="RabbitMqUrl" value="178.170.102.123" />
  <add key="RabbitMqUser" value="fonekeadm" />
  <add key="RabbitMqPassword" value="P@ssword07" />
  
  <add key="RabbitMqQueueName" value="fonekesms_queue" />
  <add key="COMPort" value="COM6" />

</appSettings>