@using EMM.FoNeke.Common.Extentions
@model object 



@{
    var id = ViewData.TemplateInfo.GetFullHtmlFieldId("");
    var name = ViewData.TemplateInfo.GetFullHtmlFieldName("");
    var value = ViewData.TemplateInfo.FormattedModelValue;
    var libelle = string.Format("{0}_{1}", ViewData.ModelMetadata.ContainerType.Name, ViewData.ModelMetadata.PropertyName).ToLocalized();

}

<div class='form-group'>
    <label class='col-sm-4 control-label no-padding-right' for='@id'>@libelle&nbsp;:</label>
    <div class='col-sm-8'>
        @Html.TextAreaFor(m=>m,new {@class="col-xs-12 col-sm-12"})
        <div class="red"> 
            @Html.ValidationMessageFor(model => model)
        </div>
    </div>
</div>